:root {
  --compact-medium: "SF Compact Display medium";
  --compact-thin: "SF Compact Display thin";
  --tiempos-medium: "Tiempos Headline Medium";
  --tiempos-thin: "Tiempos Headline Light";
  --circular: "CircularStdBold";
}

@font-face {
  font-family: "SF Compact Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Thin"),
    url("./../fonts/sf-compact-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF Compact Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF Compact Display Medium"),
    url("./../fonts/sf-compact-display-medium.woff") format("woff");
}

@font-face {
  font-family: "CircularStdBold";
  src: url("./../fonts/CircularStdBold.eot");
  src: local("CircularStdBold"),
    url("./../fonts/CircularStdBold.woff") format("woff"),
    url("./../fonts/CircularStdBold.ttf") format("truetype");
}

@font-face {
  font-family: "Tiempos Headline Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Regular"),
    url("./../fonts/TiemposHeadline-Regular.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Regular Italic"),
    url("./../fonts/TiemposHeadline-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Light";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Light"),
    url("./../fonts/TiemposHeadline-Light.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Light Italic"),
    url("./../fonts/TiemposHeadline-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Medium"),
    url("./../fonts/TiemposHeadline-Medium.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Medium Italic"),
    url("./../fonts/TiemposHeadline-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Semibold"),
    url("./../fonts/TiemposHeadline-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Semibold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Semibold Italic"),
    url("./../fonts/TiemposHeadline-SemiboldItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Bold"),
    url("./../fonts/TiemposHeadline-Bold.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Bold Italic"),
    url("./../fonts/TiemposHeadline-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Black";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Black"),
    url("./../fonts/TiemposHeadline-Black.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Headline Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Tiempos Headline Black Italic"),
    url("./../fonts/TiemposHeadline-BlackItalic.woff") format("woff");
}

body {
  font-family: var(--compact-thin);
}

/* ********************************************************** header section */

.header {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 32px;
  padding-left: 15.677vw;
  padding-right: 9.948vw;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__logo {
  width: 163px;
  float: left;
}

.header__nav {
  max-width: 600px;
  float: right;
  overflow: hidden;
  padding-top: 0.521vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  align-content: center;
}

.header__nav--mobile {
  max-width: 100px;
  float: right;
  padding-top: 10px;
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .header__nav {
    display: none;
  }

  .header__nav--mobile {
    max-width: 100px;
    float: right;
    overflow: hidden;
    padding-top: 10px;
    display: block;
  }
}

.header__nav--mobile > div {
  width: 50px;
  height: 50px;
  float: right;
  cursor: pointer;
}

.header__nav--mobile > div > div {
  width: 90%;
  height: 8px;
  margin: 5px auto;
  border-radius: 5px;
  background: #2dd882;
}

.header__nav--menu {
  float: left;
  width: 250px;
  overflow: hidden;

  padding-top: 9px;
}

.header__nav--menu > div {
  float: left;
  width: 33.33333333%;

  font-family: var(--compact-regular);
  font-size: 0.9em;
  line-height: 20px;
  text-align: center;
  color: #060a2a;
}

.header__nav--bottom {
  float: left;
  width: 350px;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .header__nav--bottom {
    width: 270px;
  }
}

.header__nav--bottom-left {
  float: left;
  width: 131px;
}

@media (max-width: 1400px) {
  .header__nav--bottom-left {
    width: 100px;
  }
}

.header__nav--bottom-left > div {
  float: left;
  border: 1px solid #2dd882;
  border-radius: 5px;

  font-family: var(--compact-regular);
  font-size: 0.85em;
  line-height: 5px;
  text-align: center;
  color: #2dd882;
  height: 35px;
}

.header__nav--bottom-right {
  float: left;
  width: 213px;

  padding-left: 1.21vw;
}

@media (max-width: 1400px) {
  .header__nav--bottom-right {
    width: 170px;
  }
}

.header__nav--bottom-right > div {
  float: left;
  background: #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  font-family: var(--compact-medium);

  font-size: 0.85em;
  line-height: 8px;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 13px;
}

.header__nav--mobile-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  width: 250px;
  height: 100%;
  padding: 50px 10px 0 30px;
  background-color: #2dd882;
  overflow: auto;
  display: none;
}

@media only screen and (max-width: 1050px) {
  .header__nav--mobile-menu {
    display: block;
  }
}

.header__nav--mobile-menu-text {
  text-align: left;
  color: #fff;
  font-family: var(--compact-thin);
  overflow: hidden;
  margin-top: 10px;
}

.header__nav--mobile-menu-text-icon {
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  padding-top: 7px;
}

.header__nav--mobile-menu-text-icon > img {
  width: 20px;
}

.header__nav--mobile-menu-text-item {
  width: calc(100% - 40px);
  height: 40px;
  /* border-bottom: 1px solid white; */
  float: left;
  padding-top: 10px;
  padding-left: 0.521vw;
}

.mobile__logo {
  margin-bottom: 30px;
}

.mobile__logo > img {
  width: 100px;
}

/* ********************************************************** footer section */
.footer {
  padding-bottom: 70px;
}

.footer__main {
  overflow: hidden;

  padding-top: 74px;
  padding-bottom: 43px;
  padding-left: 10.573vw;
  padding-right: 19.323vw;
}

.footer__main--logo {
  width: 40%;
  float: left;
  height: 200px;
}

.footer__main--product {
  width: 20%;
  float: left;
  height: 200px;
}

.footer__main--legal {
  width: 20%;
  float: left;
  height: 200px;
}

.footer__main--connect {
  width: 20%;
  float: left;
  height: 200px;
}

@media only screen and (max-width: 1200px) {
  .footer__main--logo {
    width: 25%;
    float: left;
  }

  .footer__main--product {
    width: 25%;
    float: left;
  }

  .footer__main--legal {
    width: 25%;
    float: left;
  }

  .footer__main--connect {
    width: 25%;
    float: left;
  }
}

@media only screen and (max-width: 1000px) {
  .footer__main--logo {
    width: 50%;
    float: left;
  }

  .footer__main--product {
    width: 50%;
    float: left;
  }

  .footer__main--legal {
    width: 50%;
    float: left;
  }

  .footer__main--connect {
    width: 50%;
    float: left;
  }
}

@media only screen and (max-width: 1000px) {
  .footer__main--logo {
    width: 100%;
    float: left;
  }

  .footer__main--product {
    width: 100%;
    float: left;
  }

  .footer__main--legal {
    width: 100%;
    float: left;
  }

  .footer__main--connect {
    width: 100%;
    float: left;
  }
}

.footer__main--logo-top {
  width: 163px;
}

.footer__main--logo-text {
  max-width: 250px;
  margin-top: 44px;
  font-family: var(--compact-thin);
  font-size: 0.82em;
  line-height: 25px;
  color: rgba(84, 86, 90, 0.56);
}

.footer__main {
  background: rgba(246, 248, 249, 0.7);
  border-radius: 0px;
}

.footer__main--header {
  font-family: var(--compact-medium);

  font-size: 0.9em;
  font-weight: 600;
  line-height: 21px;
  color: #2c2e30;
  margin-bottom: 15px;
}

.footer__main--menu-item {
  font-family: var(--compact-thin);

  font-size: 0.75em;
  line-height: 32px;
  color: #54565a;
}

.footer__main--menu-media {
  overflow: hidden;
  width: 120px;
  margin-top: 10px;
}

.footer__main--menu-media > div {
  float: left;
  width: 33.333333333%;
}

.footer__main--menu-media > div > a > img {
  width: 30px;
  opacity: 0.1;
}

.footer__main--menu-media > div > a > img:hover {
  width: 30px;
  opacity: 0.2;
}

.footer__text {
  font-family: var(--compact-thin);

  font-size: 0.8em;
  line-height: 28px;
  color: rgba(84, 86, 90, 0.8);
  padding-top: 48px;
  padding-left: 10.573vw;
  padding-right: 17.656vw;
}

.footer__test {
  text-align: center;
}

.footer__test ul {
  list-style-type: none;

  padding: 15px 0;
  font-size: 0.82em;
}

.footer__test ul li {
  display: inline;
  margin: 0 10px 10px 10px;
}

/* ********************************************************** auth section */

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

.auth__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 11.406vw;
  padding-right: 8.125vw;
}

.auth__container-design-top {
  position: absolute;
  top: 0;
  left: 45%;
  width: 151px;
}

.auth__container-design-left {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
}

.auth__container-design-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .auth__container-design-bottom {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .auth__container-design-top {
    display: none;
  }

  .auth__container-design-left {
    display: none;
  }
}

.auth__container--box {
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.auth__container--box-header {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.auth__container--box-header-logo {
  width: 163px;
  float: left;
}

.auth__container--box-header-nav {
  overflow: hidden;
  float: right;
  width: 140px;

  font-family: var(--compact-black);
  font-size: 1em;
  line-height: 46px;
  color: #777;
  padding-top: 0;
  text-align: right;
}

@media only screen and (max-width: 400px) {
  .auth__container--box-header-nav {
    width: 300px;
    padding-top: 50px;
  }
}

.auth__container--box-input {
  margin-top: 72px;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

.auth__container--box-input > p {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(126, 128, 133, 0.4);
  margin-bottom: 14px;
}

.auth__container--box-input > span {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
}

@media only screen and (max-width: 400px) {
  .auth__container--box-input > span {
    font-family: var(--tiempos-medium);
    font-size: 1.875em;
    line-height: 46px;
    color: #2c2e30;
  }
}

.auth__container--box-input > div {
  margin-top: 59px;
  max-width: 27.24vw;
}

@media only screen and (max-width: 1200px) {
  .auth__container--box-input > div {
    max-width: 330px;
  }
}

.auth__container--box-input-div {
  background: #f8f8f8;
  border-radius: 5px;
  height: 82px;
  padding-top: 16px;
  padding-left: 1.979vw;
  margin-top: 25px;
  position: relative;
}

.auth__container--box-input-div > label {
  font-family: var(--compact-thin);

  font-size: 0.85em;
  line-height: 19px;
  color: rgba(81, 82, 85, 0.7);
}

.auth__container--box-input-div > input {
  font-family: var(--compact-medium);

  font-size: 1.2em;
  line-height: 26px;
  margin-top: 4px;
  color: #000000 !important;
  height: 40px;
}

@media only screen and (max-width: 1200px) {
  .auth__container--box-input-div > input {
    font-size: 16px;
  }
}

.auth__container--box-input-div > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding-top: 30px;
}

.auth__container--box-select {
  overflow: hidden;
  margin-top: 25px;
}

.auth__container--box-select-left {
  width: 47%;
  float: left;
  background: #f8f8f8;
  border-radius: 5px;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .auth__container--box-select-left {
    width: 100%;
    float: left;
    background: #f8f8f8;
    border-radius: 5px;
    position: relative;
  }
}

.auth__container--box-select-left > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding-top: 30px;
}

.auth__container--box-select-right {
  width: 47%;
  float: right;
  background: #f8f8f8;
  border-radius: 5px;
  margin-top: 0;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .auth__container--box-select-right {
    width: 100%;
    float: right;
    background: #f8f8f8;
    border-radius: 5px;
    margin-top: 25px;
    position: relative;
  }
}

.auth__container--box-select-right > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding-top: 30px;
}

.auth__container--box-select > div > select {
  width: 100%;
  float: left;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 82px;
  padding-left: 1.563vw;
  font-family: var(--compact-thin);

  font-size: 1em;
  line-height: 21px;
  color: #515255;
}

.auth__container--box-select > div > input {
  width: 100%;
  float: left;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 82px;
  padding-left: 1.563vw;
  font-family: var(--compact-thin);

  font-size: 1em;
  line-height: 21px;
  color: #515255;
}

.auth__container--box-button {
  background: #2dd882;
  border-radius: 5px;
  font-family: var(--compact-medium);

  font-size: 1.1em;
  line-height: 26px;
  margin-top: 43px;
  text-align: center;
  height: 73px;
  color: #ffffff;
}

.auth__container--box-footer {
  font-family: var(--compact-thin);
  font-size: 0.75em;
  line-height: 25px;
  color: #54565a;
  opacity: 0.3;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .auth__container--box-footer {
    font-family: var(--compact-thin);

    font-size: 0.75em;
    line-height: 25px;
    color: #54565a;
    opacity: 0.3;
    margin-top: 154px;
  }
}

/* ********************************************************** download section */

.download {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 850px) {
  .download {
    position: relative;
    height: 300px;
    background-color: #171a3a;
  }
}

@media only screen and (max-width: 500px) {
  .download {
    position: relative;
    height: 350px;
    background-color: #171a3a;
  }
}

@media only screen and (max-width: 500px) {
  .download {
    position: relative;
    height: 400px;
    background-color: #171a3a;
  }
}

.download > img {
  object-fit: cover;
}

@media only screen and (max-width: 850px) {
  .download > img {
    display: none;
  }
}

.download__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.download__container > div {
  margin: auto;
  max-width: 600px;
  padding-left: 0.521vw;
  padding-right: 0.521vw;
  text-align: center;
  padding-top: 110px;
}

@media only screen and (max-width: 1200px) {
  .download__container > div {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 950px) {
  .download__container > div {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 850px) {
  .download__container > div {
    padding-top: 20px;
  }
}

.download__container > div > span {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .download__container > div > span {
    font-family: var(--tiempos-medium);
    font-size: 1.875em;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
  }
}

.download__container > div > p {
  font-family: var(--compact-thin);

  font-size: 0.9em;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}

.download__container > div > div {
  margin: 30px auto 0 auto;
  overflow: hidden;
  max-width: 400px;
}

.download__containe--play {
  width: 50%;
  float: left;
  padding: 0 10px;
}

@media only screen and (max-width: 500px) {
  .download__containe--play {
    width: 100%;
    float: left;
    padding: 0 10px;
  }
}

.download__containe--play > div {
  border: 1px solid #fff;
  width: 172px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}

.download__containe--app {
  width: 50%;
  float: left;
  padding: 0 10px;
}

@media only screen and (max-width: 500px) {
  .download__containe--app {
    width: 100%;
    float: left;
    padding: 20px 10px 0 10px;
  }
}

.download__containe--app > div {
  border: 1px solid #fff;
  width: 181px;
  border-radius: 5px;
  overflow: hidden;
  height: 55px;
  margin: auto;
}

/* ********************************************************** terms section */

.terms {
  position: relative;
}

.terms__bg--content {
  overflow: hidden;
  background: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 57px;
  padding-left: 15.573vw;
  padding-right: 12.865vw;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .terms__bg--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .terms__bg--content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.terms__bg--content-middle-left {
  position: absolute;
  top: 263px;
  left: 0;
  width: 6.198vw;
}

.terms__bg--content-middle-right {
  position: absolute;
  top: 624px;
  right: 0;
  width: 108px;
}

@media only screen and (max-width: 600px) {
  .terms__bg--content-middle-left {
    display: none;
  }

  .terms__bg--content-middle-right {
    display: none;
  }
}

.terms__bg--content-left {
  float: left;
  width: 30%;
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
  padding-bottom: 0;
}

@media only screen and (max-width: 700px) {
  .terms__bg--content-left {
    width: 100%;
    padding-bottom: 40px;
  }
}

.terms__bg--content-right {
  float: left;
  width: 70%;
  padding: 0 10px;
}

@media only screen and (max-width: 700px) {
  .terms__bg--content-right {
    width: 100%;
  }
}

.terms__bg--content-right > p {
  font-family: var(--tiempos-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 28px;
  color: #54565a;
  margin-bottom: 20px;
}

.terms__bg--content-right > div {
  font-family: var(--tiempos-thin);

  font-size: 0.85em;
  line-height: 28px;
  color: #54565a;
}

/* ********************************************************** footer section */

.faq {
  position: relative;
}

.faq__bg--content {
  overflow: hidden;
  background: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 77px;
  padding-left: 21.354vw;
  padding-right: 21.042vw;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .faq__bg--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .faq__bg--content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.faq__bg--content-top-left {
  position: absolute;
  top: 165px;
  left: 0;
  width: 17.396vw;
}

.faq__bg--content-bottom-left {
  position: absolute;
  top: 1377px;
  left: 0;
  width: 97px;
}

@media only screen and (max-width: 600px) {
  .faq__bg--content-top-left {
    display: none;
  }

  .faq__bg--content-bottom-left {
    display: none;
  }
}

.faq__bg--content-header {
  text-align: center;
}

.faq__bg--content-header > span {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8085;
}

.faq__bg--content-header > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #2c2e30;
  margin-top: 14px;
}

.faq__bg--content-body {
  overflow: hidden;
  margin-top: 85px;
  position: relative;
  z-index: 1;
}

.faq__bg--content-body > div {
  overflow: hidden;
}

.faq__bg--content-body > div > div {
  overflow: hidden;
  width: 50%;
  float: left;
  padding: 0 20px;
}

@media only screen and (max-width: 800px) {
  .faq__bg--content-body > div > div {
    overflow: hidden;
    width: 100%;
    float: left;
    padding: 0 20px;
  }
}

.faq__bg--content-body > div > div > div {
  min-height: 250px;
  margin: auto;
}

.faq__bg--content-body > div > div > div > span {
  font-family: var(--compact-medium);

  font-size: 1em;
  font-weight: 600;
  line-height: 25px;
  color: #2c2e30;
}

.faq__bg--content-body > div > div > div > p {
  font-family: var(--compact-thin);

  font-size: 0.85em;
  line-height: 28px;
  color: #54565a;
  margin-top: 18px;
}

/* ********************************************************** not found section */

.notfound {
  overflow: hidden;
  background: #fff;
  padding: 50px 10px 100px 10px;
}

.notfound > p {
  font-family: var(--compact-medium);
  font-size: 1.5em;
  line-height: 29px;
  text-align: center;
  color: #2c2e30;
}

.notfound > div {
  max-width: 500px;
  margin: 0 auto;
}

/* ********************************************************** pricing section */

.pricing {
  position: relative;
}

.pricing__bg--content {
  overflow: hidden;
  background: #fbfbfb;
  padding-top: 100px;

  padding-bottom: 40px;
  padding-left: 18.229vw;
  padding-right: 18.229vw;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  .pricing__bg--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .pricing__bg--content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pricing__bg--top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 69px;
  height: 50px;
}

.pricing__bg--btm-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 91px;
}

.pricing__bg--middle-left {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .pricing__bg--top-right {
    display: none;
  }

  .pricing__bg--btm-right {
    display: none;
  }

  .pricing__bg--middle-left {
    display: none;
  }
}

.pricing__bg--content-header {
  text-align: center;
}

.pricing__bg--content-header > span {
  font-family: var(--compact-medium);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8085;
}

.pricing__bg--content-header > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #2c2e30;
  margin-top: 18px;
  margin-bottom: 50px;
}

.pricing__bg--content-nav {
  max-width: 80%;

  height: 48px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 8px 10px rgba(192, 200, 221, 0.3);
  border-radius: 34px;
  font-family: var(--circular);
  font-size: 1.25em;
  line-height: 25px;
  color: #2d3136;
}

@media only screen and (max-width: 1400px) {
  .pricing__bg--content-nav {
    font-size: 0.875em;
  }
}

.pricing__bg--content-nav-mobile {
  max-width: 700px;
  height: 64px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 8px 10px rgba(192, 200, 221, 0.3);
  border-radius: 34px;
  display: none;
}
@media only screen and (max-width: 600px) {
  .pricing__bg--content-nav {
    max-width: 800px;

    height: 48px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 8px 10px rgba(192, 200, 221, 0.3);
    border-radius: 34px;
    display: none;
  }

  .pricing__bg--content-nav-mobile {
    max-width: 700px;
    height: 64px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 8px 10px rgba(192, 200, 221, 0.3);
    border-radius: 34px;
    display: block;
  }
}

.pricing__bg--content-nav > div {
  width: 20%;
  float: left;

  height: 48px;
  border-radius: 34px;
  font-family: var(--circular);
  font-size: 0.9em;
  line-height: 11px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .pricing__bg--content-nav > div {
    font-size: 0.75em;
  }
}

.pricing__bg--content-nav-mobile > div {
  width: 20%;
  float: left;
  height: 64px;
  border-radius: 34px;
  font-family: var(--circular);
  font-size: 1em;
  line-height: 25px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

.pricing__bg--content-nav-mobile > div > img {
  width: 30px;
}

.pricing__bg--content-price {
  margin-top: 65px;
  position: relative;
}

.pricing__bg--content-price-top-left {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 50px;
}

.pricing__bg--content-price-top-right {
  position: absolute;
  bottom: -450px;
  right: -50px;
  width: 100px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .pricing__bg--content-price-top-left {
    display: none;
  }

  .pricing__bg--content-price-top-right {
    display: none;
  }
}

.pricing__bg--content-price-child {
  width: 33.3333333333%;
  float: left;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .pricing__bg--content-price-child {
    width: 100%;
    float: left;
    padding: 0 10px 50px 10px;
  }
}

.pricing__bg--content-price-child > div {
  max-width: 350px;
  margin: 0 auto;
  background: #ffffff;
  border: 3px solid #e2e6ea;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 34px;
  padding-bottom: 42px;
  text-align: center;
}

.pricing__bg--content-price-child > div > span {
  font-family: var(--circular);

  font-size: 0.85em;
  line-height: 23px;
  text-align: center;
  color: #818992;
}

.pricing__bg--content-price-child > div > p {
  font-family: var(--circular);

  font-size: 3em;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  color: #2d3136;
  padding-top: 17px;
  padding-bottom: 52px;
}

.pricing__bg--content-price-child > div > ul {
  list-style-type: none;
  text-align: center;
}

.pricing__bg--content-price-child > div > ul > li {
  font-family: var(--circular);

  font-size: 0.8em;
  line-height: 34px;
  text-align: center;
  color: #2d3136;
}

.pricing__bg--content-price-child > div > div {
  width: 150px;
  height: 45px;
  font-family: var(--compact-medium);
  font-size: 0.85em;
  line-height: 16px;
  color: #2dd882;
  border: 1px solid #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  margin: 35px auto 0 auto;
  padding-top: 14px;
}

.pricing__bg--content-features {
  overflow: hidden;
  margin-top: 50px;
}

.pricing__bg--content-features-child {
  width: 33.3333333333%;
  float: left;
  padding: 0 10px;
}

@media only screen and (max-width: 700px) {
  .pricing__bg--content-features-child {
    width: 100%;
    float: left;
    padding: 0 10px;
  }
}

.pricing__bg--content-features-child > div {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 42px;
  text-align: center;
}

.pricing__bg--content-features-child > div > div {
  background: rgba(45, 216, 130, 0.1);
  border-radius: 60px;

  height: 60px;
  width: 60px;
  margin: auto;
  padding-top: 17px;
}

.pricing__bg--content-features-child > div > div > img {
  width: 22px;
}

.pricing__bg--content-features-child > div > p {
  font-family: var(--compact-medium);

  font-size: 1em;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  color: #2c2e30;
  margin-bottom: 20px;
  margin-top: 18px;
}

.pricing__bg--content-features-child > div > span {
  font-family: var(--compact-thin);

  font-size: 0.8em;
  line-height: 28px;
  text-align: center;
  color: #54565a;
}

/* ********************************************************** contact section */

.contact {
  background: #ffffff;
}

.contact__bg--content {
  overflow: hidden;
  padding-top: 87px;
  padding-bottom: 109px;
  padding-left: 15.677vw;
  padding-right: 13.125vw;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .contact__bg--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .contact__bg--content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact__bg--content > span {
  overflow: hidden;
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #7e8085;
}

.contact__bg--content > p {
  overflow: hidden;
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
}

@media only screen and (max-width: 500px) {
  .contact__bg--content > p {
    overflow: hidden;
    font-family: var(--tiempos-medium);
    font-size: 1.25em;
    line-height: 46px;
    color: #2c2e30;
  }
}

.contact__bg--content > div {
  /* overflow: hidden; */
  margin-top: 72px;
}

.contact__bg--content-left {
  overflow: hidden;
  float: left;
  width: 35.781vw;
}

.contact__bg--content-right {
  overflow: hidden;
  float: right;
  width: 26.302vw;
}

@media only screen and (max-width: 1000px) {
  .contact__bg--content > div > div {
    overflow: hidden;
    float: left;
    width: 100%;
  }
}

.contact__input--half {
  width: 50%;
  float: left;
  padding: 0 10px 36px 10px;
}

@media only screen and (max-width: 500px) {
  .contact__input--half {
    width: 100%;
    float: left;
    padding: 0 10px 36px 10px;
  }
}

.contact__input--half > div {
  background: #f8f8f8;
  border-radius: 5px;
  height: 82px;
  padding-top: 16px;
  padding-left: 1.667vw;
}

.contact__input--half > div > label {
  background: #f8f8f8;
  border-radius: 5px;
  font-family: var(--compact-thin);

  font-size: 0.85em;
  line-height: 19px;
  color: #515255;
  opacity: 0.7;
}

.contact__input--half > div > input {
  background: #f8f8f8;
  border-radius: 5px;
  font-family: var(--compact-medium);

  font-size: 1.2em;
  line-height: 26px;
  color: #000;
  margin-top: 5px;
  height: 40px;
}

@media only screen and (max-width: 1200px) {
  .contact__input--half > div > input {
    font-size: 14px;
  }
}

.contact__input--full {
  width: 100%;
  padding: 0 10px 36px 10px;
  clear: both;
}

.contact__input--full > div {
  background: #f8f8f8;
  border-radius: 5px;
  padding-top: 16px;
  padding-left: 1.667vw;
  padding-right: 1.667vw;
}

@media only screen and (max-width: 1200px) {
  .contact__input--full > div {
    background: #f8f8f8;
    border-radius: 5px;
    padding-top: 16px;
    padding-left: 0.521vw;
    padding-right: 0.521vw;
  }
}

.contact__input--full > div > label {
  background: #f8f8f8;
  border-radius: 5px;
  font-family: var(--compact-thin);
  font-size: 1em;
  line-height: 19px;
  color: #515255;
  opacity: 0.7;
}

.contact__input--full > div > textarea {
  background: #f8f8f8;
  border-radius: 5px;
  font-family: var(--compact-medium);
  font-size: 1.375em;
  line-height: 26px;
  color: #282a2f;
  margin-top: 5px;
  height: 233px;
  resize: none;
  outline: none;
  border: none;
}

.contact__input--button {
  width: 100%;
  padding: 0 10px 36px 10px;
  clear: both;
}

.contact__input--button > button {
  width: 100%;
  height: 74px;
  background: #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  font-family: var(--compact-medium);

  font-size: 1.1em;
  line-height: 26px;
  color: #ffffff;
}

.contact__address {
  width: 50%;
  float: left;
  padding-left: 1.042vw;
}

@media only screen and (max-width: 500px) {
  .contact__address {
    width: 100%;
    float: left;
    padding-left: 1.042vw;
  }
}

.contact__address > span {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 21px;
  color: #515255;
  opacity: 0.4;
}

.contact__address > p {
  font-family: var(--compact-medium);
  font-size: 1em;
  line-height: 29px;
  color: #515255;
  height: 58px;
  margin-bottom: 58px;

  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
  .contact__address > p {
    margin-bottom: 20px;
  }
}

.contact__address > div {
  overflow: hidden;
  width: 150px;
  margin-top: 13px;
}

.contact__address > div > div {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 60px;
  margin-right: 10px;
  opacity: 0.6;
}

/* ********************************************************** about section */

.about__bg--header {
  overflow: hidden;

  padding-bottom: 150px;
  background-image: url("./../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  .about__bg--header {
    background-image: none;
    padding-bottom: 50px;
  }
}

.about__bg--header-left {
  width: 50%;
  float: left;
  margin-left: 16.042vw;
  margin-right: 16.042vw;
}

@media only screen and (max-width: 1200px) {
  .about__bg--header-left {
    width: 70%;
    float: left;
  }
}

@media only screen and (max-width: 1000px) {
  .about__bg--header-left {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .about__bg--header-left {
    margin-left: 10px;
  }
}

.about__bg--header-right {
  width: 50%;
  float: left;
}

@media only screen and (max-width: 1200px) {
  .about__bg--header-right {
    width: 30%;
    float: left;
  }
}

@media only screen and (max-width: 700px) {
  .about__bg--header-right {
    width: 100%;
    float: left;
  }
}

.about__bg--header-left > span {
  font-family: var(--tiempos-medium);

  font-size: 2.5em;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1px;
  color: #0d0d21;
}

.about__bg--header-left > p {
  font-family: var(--compact-thin);

  font-size: 0.95em;
  line-height: 30px;
  color: #0d0d21;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 37.396vw;
}

@media only screen and (max-width: 1400px) {
  .about__bg--header-left > span {
    font-size: 40px;
  }

  .about__bg--header-left > p {
    font-size: 0.95em;
  line-height: 30px;
  max-width: 300px;
  }
}

@media only screen and (max-width: 1024px) {
  .about__bg--header-left > span {
    font-size: 2.5em ;
  }
  .about__bg--header-left > p {
    font-size: 18px;
    max-width: 300px;
  }
}

.about__bg--header-left > div {
  width: 350px;
  overflow: hidden;
}

.about__bg--header-left-play {
  width: 142px;
  height: 49px;
  float: left;
  margin-right: 10px;
}

.about__bg--header-left-app {
  width: 165px;
  height: 49px;
  float: left;
  margin-right: 10px;
  margin-top: 0;
}

@media only screen and (max-width: 400px) {
  .about__bg--header-left-play {
    float: none;
  }

  .about__bg--header-left-app {
    width: 142px;
    height: 49px;
    float: none;
    margin-top: 20px;
  }
}

.about__bg--photos {
  background: #f4f5f7;
  padding-left: 16.302vw;
  padding-right: 25.26vw;
}

@media only screen and (max-width: 1000px) {
  .about__bg--photos {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .about__bg--photos {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about__bg--photos > p {
  font-family: var(--tiempos-medium);
  font-size: 3.0625em;

  line-height: 30px;
  letter-spacing: 1px;
  color: #0d0d21;
  padding-top: 60px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1400px) {
  .about__bg--photos > p {
    font-size: 2em;
    font-weight: 600;
  }
}

.about__bg--photos > span {
  font-family: var(--compact-thin);

  font-size: 0.95em;
  line-height: 30px;
  color: #0d0d21;
}

@media only screen and (max-width: 1400px) {
  .about__bg--photos > span {
    font-size: 0.95em;
  }
}

.about__bg--photos > div {
  overflow: hidden;

  margin-bottom: 60px;
  margin-top: 20px;
}

.about__bg--photos-profile {
  overflow: hidden;

  margin-bottom: 10px;
  margin-top: 30px;
}

.about__bg--photos-profile > div {
  width: 33.333333333%;
  float: left;
  padding: 0 5px;
  margin: 0 auto 70px auto;
}

@media only screen and (max-width: 1000px) {
  .about__bg--photos-profile > div {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .about__bg--photos-profile > div {
    width: 100%;
  }
}

.about__bg--photos-profile-top {
  max-width: 289px;
  margin: 0 auto;
  background-color: #fff;
}

.about__bg--photos-profile-btm {
  max-width: 289px;
  background: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1.823vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .about__bg--photos-profile-btm {
    padding-left: 0.521vw;
  }
}

.about__bg--photos-profile-btm > span {
  font-family: var(--compact-medium);

  font-size: 16px;
  line-height: 35px;
  color: #0d0d21;
}

@media only screen and (max-width: 1400px) {
  .about__bg--photos-profile-btm > span {
    font-size: 16px;
  }
}

.about__bg--photos-profile-btm > p {
  font-family: var(--compact-thin);

  font-size: 12px;
  line-height: 44px;
  color: #777;
  /* opacity: 0.7; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1400px) {
  .about__bg--photos-profile-btm > p {
    font-size: 12px;
    line-height: 20px;
  }
}

.about__bg--community {
  overflow: hidden;
  padding-left: 14.844vw;
  padding-right: 11.094vw;
}

@media only screen and (max-width: 1000px) {
  .about__bg--community {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .about__bg--community {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about__bg--community > div {
  padding-bottom: 100px;
  overflow: hidden;
}

.about__bg--community-gallery {
  overflow: hidden;
  width: 50%;
  float: left;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .about__bg--community-gallery {
    overflow: hidden;
    width: 100%;
    float: left;
  }
}

.about__bg--community-gallery > img {
  max-width: 500px;
}

.about__bg--community-text {
  overflow: hidden;
  width: 50%;
  float: left;
  padding-top: 110px;
}

@media only screen and (max-width: 1000px) {
  .about__bg--community-text {
    overflow: hidden;
    width: 50%;
    float: left;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .about__bg--community-text {
    overflow: hidden;
    width: 50%;
    float: left;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .about__bg--community-text {
    overflow: hidden;
    width: 100%;
    float: left;
    padding-top: 10px;
  }
}

.about__bg--community-text > div {
  max-width: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .about__bg--community-text > div {
    max-width: 100%;
    margin: 50px auto 0 auto;
  }
}

.about__bg--community-text > div > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  color: #0d0d21;
  margin-bottom: 20px;
}

.about__bg--community-text > div > span {
  font-family: var(--compact-thin);

  font-size: 0.95em;
  line-height: 30px;
  color: #0d0d21;
}

.about__bg--community-text > div > div {
  width: 200px;

  height: 60px;
  background: #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  font-family: var(--compact-medium);

  font-size: 1em;
  font-weight: 600;
  /* line-height: 29px; */
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

/* ********************************************************** home section */

.home__content--clients {
  background: #ffffff;
  position: relative;
  padding-left: 16.719vw;
  padding-right: 16.719vw;
}

@media only screen and (max-width: 1100px) {
  .home__content--clients {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--clients {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home__content--btm-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 91px;
}

.home__content--clients-child {
  text-align: center;

  padding: 80px 0;
}

.home__content--clients > div > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #2c2e30;
  margin-bottom: 10px;
}

.home__content--clients > div > span {
  font-family: var(--compact-thin);

  font-size: 0.9em;
  line-height: 34px;
  text-align: center;
  color: #7e8085;
}

.home__content--clients > div > div {
  margin-top: 30px;
  overflow: hidden;
}

.home__content--clients > div > div > div {
  width: 20%;
  float: left;
}

@media only screen and (max-width: 850px) {
  .home__content--clients > div > div > div {
    width: 25%;
    float: left;
  }
}

@media only screen and (max-width: 600px) {
  .home__content--clients > div > div > div {
    width: 50%;
    float: left;
  }
}

@media only screen and (max-width: 400px) {
  .home__content--clients > div > div > div {
    width: 100%;
    float: left;
  }
}

.home__content--clients > div > div > div > img {
  width: 150px;
}

.home__content--safety {
  background: #171a3a;
  padding-left: 20.99vw;
  padding-right: 14.479vw;
}

@media only screen and (max-width: 1000px) {
  .home__content--safety {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--safety {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home__content--safety > div {
  overflow: hidden;
  padding: 120px 0 80px 0;

}

.home__content--safety-left {
  width: 50%;
  float: left;
}

@media only screen and (max-width: 900px) {
  .home__content--safety-left {
    width: 100%;
    float: left;
  }
}

.home__content--safety-left > span {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.home__content--safety-left > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #ffffff;
  margin: 15px 0 45px 0;
}

.home__content--safety-left > div {
  margin-bottom: 55px;
}

.home__content--safety-left > div > span {
  font-family: var(--tiempos-medium);

  font-size: 1em;
  line-height: 46px;
  color: #ffffff;
}

.home__content--safety-left > div > p {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  line-height: 24px;
  color: #ffffff;
  margin-top: 5px;
  max-width: 27.76vw;
}

@media only screen and (max-width: 900px) {
  .home__content--safety-left > div > p {
    max-width: 100%;
  }
}

.home__content--safety-right {
  float: left;
  padding-top: 50px;
  text-align: center;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .home__content--safety-right {
    float: left;
    padding-top: 50px;
    text-align: center;
    width: 100%;
  }
}

.home__content--safety-right > img {
  max-width: 400px;
}

.home__content--app {
  height: 650px;
  background-image: url("./../img/app-section.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding-right: 24.167vw;
  padding-left: 16.302vw;
}

@media only screen and (max-width: 800px) {
  .home__content--app {
    height: 1100px;
  }
}

.home__content--app-left {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .home__content--app-left {
    float: left;
    width: 100%;
  }
}

.home__content--app-left > div {
  max-width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.home__content--app-left > div > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
}

.home__content--app-right {
  float: left;
  width: 50%;
  padding-top: 100px;
}

@media only screen and (max-width: 800px) {
  .home__content--app-right {
    float: left;
    width: 100%;
    padding-top: 20px;
  }
}

.home__content--app-right > h3 {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #0d0d21;
  opacity: 0.4;
  border-radius: 900px;
}

.home__content--app-right > p {
  font-family: var(--tiempos-medium);
  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
  margin: 15px 0;
}

.home__content--app-right > span {
  font-family: var(--compact-thin);
  font-size: 0.9em;
  line-height: 28px;
  color: #0d0d21;
  border-radius: 900px;
}

.home__content--app-right > div {
  margin-top: 40px;
}

.home__content--app-right > div > div {
  width: 200px;
  height: 60px;
  background: #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  font-family: var(--compact-thin);

  font-size: 1em;
  font-weight: 600;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.home__content--steps {
  background: #f6f8f9;
  position: relative;
  padding-left: 20.26vw;
  padding-right: 16.25vw;
}

.home__content--steps-design_bottom {
  position: absolute;
  bottom: -199px;
  right: 0;
  width: 125px;
}

@media only screen and (max-width: 600px) {
  .home__content--steps-design_bottom {
    display: none;
  }
}

.home__content--steps > div {
  overflow: hidden;
  padding: 100px 0;
}

.home__content--steps-left {
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .home__content--steps-left {
    width: 100%;
    float: left;
  }
}

.home__content--steps-left > span {
  font-family: var(--compact-thin);
  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #0d0d21;
  opacity: 0.4;
}

.home__content--steps-left > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
  margin-top: 15px;
}

.home__content--steps-left > div {
  margin-top: 40px;
}

.home__content--steps-left-box {
  overflow: hidden;
  margin-top: 50px;
}

.home__content--steps-left-box-left {
  width: 60px;
  height: 60px;
  float: left;
  background: rgba(45, 216, 130, 0.1);
  font-family: var(--tiempos-medium);
  font-size: 1.2em;
  line-height: 46px;
  color: #2dd882;
  border-radius: 60px;
  text-align: center;
  padding-top: 9px;
}

.home__content--steps-left-box-right {
  width: calc(100% - 100px);
  float: left;
  padding-left: 0.521vw;
}

@media only screen and (max-width: 400px) {
  .home__content--steps-left-box-right {
    width: 100%;
    float: left;
    padding-left: 0.521vw;
  }
}

.home__content--steps-left-box-right > span {
  font-family: var(--tiempos-medium);
  font-size: 1.2em;
  font-weight: 600;
  line-height: 46px;
  color: #2c2e30;
}

.home__content--steps-left-box-right > p {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  line-height: 24px;
  color: #54565a;
}

.home__content--steps-right {
  width: 50%;
  float: left;
}

@media only screen and (max-width: 800px) {
  .home__content--steps-right {
    width: 100%;
    float: left;
  }
}

.home__content--steps-right > div {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.home__content--steps-right-design-left {
  position: absolute;
  top: -71px;
  left: -76px;
  width: 328px;
}

.home__content--steps-right-design-right {
  position: absolute;
  bottom: -75px;
  left: 110px;
  width: 360px;
  transform: rotate(112deg);
}

@media only screen and (max-width: 600px) {
  .home__content--steps-right-design-left {
    display: none;
  }

  .home__content--steps-right-design-right {
    display: none;
  }
}

.home__content--steps-right > div > img {
  position: relative;
  z-index: 1;
}

.home__content--why {
  background: #fff;
  text-align: center;

  padding-top: 75px;
  padding-bottom: 20px;
  position: relative;
  padding-left: 20.365vw;
  padding-right: 20.365vw;
}

@media only screen and (max-width: 1000px) {
  .home__content--why {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--why {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home__content--why-design-left {
  position: absolute;
  top: -231px;
  left: 0;
  width: 134px;
}

.home__content--why-design-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 69px;
}

@media only screen and (max-width: 600px) {
  .home__content--why-design-left {
    display: none;
  }

  .home__content--why-design-right {
    display: none;
  }
}

.home__content--why > h3 {
  font-family: var(--compact-thin);
  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #7e8085;
  opacity: 0.5;
  margin-bottom: 10px;
}

.home__content--why > span {
  font-family: var(--tiempos-medium);
  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #2c2e30;
}

.home__content--why > p {
  font-family: var(--compact-thin);

  font-size: 0.9em;
  line-height: 28px;
  text-align: center;
  color: #54565a;
  max-width: 400px;
  padding: 0 10px;
  margin: 10px auto 0 auto;
}

.home__content--why-box {
  overflow: hidden;
  margin-top: 67px;
}

.home__content--why-box > div {
  width: 33.333333333%;
  max-width: 500px;
  float: left;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .home__content--why-box > div {
    width: 100%;
    float: left;
    padding: 0 20px;
    text-align: center;
  }
}

.home__content--why-box > div > div {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  padding-top: 17px;
  background: rgba(45, 216, 130, 0.1);
  margin: auto;
}

.home__content--why-box > div > div > img {
  width: 21px;
}

.home__content--why-box > div > p {
  font-family: var(--compact-medium);

  font-size: 1em;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  color: #2c2e30;
  margin: 20px 0;
}

.home__content--why-box > div > span {
  font-family: var(--compact-thin);

  font-size: 0.8em;
  line-height: 28px;
  text-align: center;
  color: #54565a;
}

.home__content--invest {
  background: #f6f8f9;
  text-align: center;
  padding-left: 15.625vw;
  padding-right: 15.625vw;
}

@media only screen and (max-width: 1100px) {
  .home__content--invest {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--invest {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.home__content--invest-btm {
  overflow: hidden;
  padding: 70px 0 100px 0;
}

@media only screen and (max-width: 1000px) {
  .home__content--invest-btm {
    overflow: hidden;
    padding: 400px 0 100px 0;
  }
}

.home__content--invest-top {
  position: relative;
}

.home__content--invest-design-top-left {
  position: absolute;
  top: -191px;
  left: -44px;
  width: 328px;
}

.home__content--invest-design-top-right {
  position: absolute;
  bottom: 76px;
  right: -68px;
  width: 156px;
}

@media only screen and (max-width: 950px) {
  .home__content--invest-design-top-left {
    display: none;
  }

  .home__content--invest-design-top-right {
    display: none;
  }
}

.home__content--invest-top-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
  position: relative;
}

.home__content--invest-top-content > div {
  position: absolute;
  top: -50px;
  left: 0;
  height: 570px;
  background: #0d0d21;
}

@media only screen and (max-width: 1000px) {
  .home__content--invest-top-content > div {
    position: absolute;
    top: -50px;
    left: 0;
    height: 1000px;
    background: #0d0d21;
  }
}

.home__content--invest-top-left {
  width: 50%;
  height: 400px;
  float: left;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .home__content--invest-top-left {
    width: 100%;
    height: 400px;
    float: left;
    position: relative;
  }
}

.home__content--invest-top-left > img {
  position: absolute;
  top: -120px;
  left: 50px;
  max-width: 400px;
}

@media only screen and (max-width: 1200px) {
  .home__content--invest-top-left > img {
    position: absolute;
    top: -120px;
    left: 10px;
    max-width: 400px;
  }
}

.home__content--invest-top-right {
  width: 50%;
  float: left;
  padding: 100px 10px 0 10px;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .home__content--invest-top-right {
    width: 100%;
    float: left;
    padding: 200px 10px 0 10px;
    text-align: left;
  }
}

@media only screen and (max-width: 350px) {
  .home__content--invest-top-right {
    width: 100%;
    float: left;
    padding: 150px 10px 0 10px;
    text-align: left;
  }
}

.home__content--invest-top-right > h3 {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.3;
  padding-bottom: 20px;
}

.home__content--invest-top-right > span {
  font-family: var(--tiempos-medium);

  font-size: 2.2em;
  line-height: 50px;
  color: #ffffff;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .home__content--invest-top-right > span {
    font-family: var(--tiempos-medium);
    font-size: 1.875em;
    line-height: 50px;
    color: #ffffff;
  }
}

.home__content--invest-top-right > p {
  font-family: var(--compact-thin);

  font-size: 0.81em;
  line-height: 30px;
  color: #ffffff;
  margin-top: 20px;
  max-width: 400px;
}

.home__content--invest-top-right > div {
  margin-top: 50px;
}

.home__content--invest-top-right > div > div {
  width: 200px;
  height: 60px;
  background: #2dd882;
  box-shadow: 0px 8px 10px rgba(45, 216, 130, 0.3);
  border-radius: 5px;
  font-family: var(--compact-thin);

  font-size: 1em;
  font-weight: 600;
  /* line-height: 29px; */
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}

.home__content--invest-btm > span {
  font-family: var(--compact-thin);

  font-size: 0.82em;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #777;
  opacity: 0.5;
}

.home__content--invest-btm > p {
  font-family: var(--tiempos-medium);

  font-size: 2em;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  color: #2c2e30;
  margin-top: 15px;
}

.home__content--invest-btm > div {
  overflow: hidden;

  margin-top: 50px;
}

.home__content--invest-btm > div > div {
  width: 14.2%;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .home__content--invest-btm > div > div {
    width: 20%;
    float: left;
  }
}

@media only screen and (max-width: 645px) {
  .home__content--invest-btm > div > div {
    width: 25%;
    float: left;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--invest-btm > div > div {
    width: 50%;
    float: left;
  }
}

.home__content--invest-btm > div > div > img {
  max-width: 150px;
}

.home__content--header {
  padding-top: 50px;
  padding-bottom: 300px;
  /* background-image: url("./../img/phones.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain; */
  padding-left: 12.604vw;
  position: relative;
}

.home__content--header-phones {
  position: absolute;
  top: 0;
  right: 0;
  width: 50.458vw;
}

@media only screen and (max-width: 1000px) {
  .home__content--header {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .home__content--header {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .home__content--header {
    padding-top: 50px;

    padding-bottom: 200px;
  }
}

.home__content--header > span {
  font-family: var(--tiempos-medium);

  font-size: 2.8em;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1px;
  color: #0d0d21;
}
@media (max-width: 479px){
  .home__content--header-phones{
    display:none;
  }
}
@media only screen and (max-width: 950px) {
  .home__content--header > span {
    font-size: 2.5em;
  }
}

.home__content--header > p {
  font-family: var(--compact-thin);

  font-size: 0.95em;
  line-height: 30px;
  color: #0d0d21;
  max-width: 420px;
}

@media only screen and (max-width: 1050px) {
  .home__content--header > p {
    max-width: 300px;
  }
}

@media only screen and (max-width: 950px) {
  .home__content--header > p {
    max-width: 300px;
  }
}

.home__content--header > div {
  max-width: 330px;
  overflow: hidden;
  margin-top: 50px;
}

.home__content--header-play {
  width: 142px;
  float: left;
  margin-bottom: 0;
  margin-right: 20px;
}

.home__content--header-app {
  width: 165px;
  float: left;
}

@media only screen and (max-width: 350px) {
  .home__content--header-play {
    width: 142px;
    float: none;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .home__content--header-app {
    width: 142px;
    float: none;
  }
}
